<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
<listeners>
    <listener class-name="Common.Report.TestListener" />
</listeners>
<!--<parameter name="browserType" value="chrome" />
<parameter name="appURL" value="https://google.com" />-->

<test name="API Tests">
    <classes>
        <class name="Tests.LinearAPITests.Https" >

    </class>


    </classes>
</test>
</suite>